.projects {
}

.projects .bm-item {
  display: inline-block;
  text-decoration: none;
  color: #d1d1d1;
  transition: color 0.8s;
}

.projects .bm-item:hover {
  color: black;
}

.projects .bm-burger-button {
  position: absolute;
  padding-top: 2vw;
  top: 8.9vw;
  bottom: 1vw;
  right: 1vw;
  height: 3.6vw;
  width: 18vw;
}

.projects .bm-burger-bars {
  background: black;
}

.projects .bm-cross {
  background: #bdc3c7;
}

.projects .bm-menu {
  background: #373a47;
  padding: 1.5em 1.5em 0;
  font-size: 1.10em;
  border-left: white solid .5vw;
  height: 100%;
}

.projects .bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: auto;
}

.projects .bm-morph-shape {
  fill: #373a47;
}

.projects .bm-item-list {
  color: white;
}

.projects .bm-overlay {
  background: rgba(0, 0, 0, 0);
}

.projects a {
  color: white;
  padding: 1vw;
  font-style: Garamond, sans-serif;
  outline-width: thick;
  outline-color: black;
  outline: black;
  text-shadow: 3px 3px 10px Black;
}

.projects p {
  color: white;
  padding: 3vw;
  font-style: Garamond, sans-serif;
  outline-width: thick;
  outline-color: black;
  outline: black;
  text-shadow: 3px 3px 10px Black;
}

.projects h1 {
  color: white;
  padding: .5vw;
  font-style: Garamond, sans-serif, bold;
  outline-width: thick;
  outline-color: black;
  outline: black;
  text-shadow: 5px 5px 15px Black;
}

.projects h3 {
  color: white;
  padding: .5vw;
  font-style: Garamond, sans-serif;
  outline-width: thick;
  outline-color: black;
  outline: black;
  text-shadow: 3px 3px 10px Black;
}
