.tech {
}

.tech .bm-item {
  display: inline-block;
  text-decoration: none;
  color: #d1d1d1;
  transition: color 0.8s;
}

.tech .bm-item:hover {
  color: black;
}

.tech .bm-burger-button {
  position: absolute;
  padding-top: 2vw;
  top: 4vw;
  bottom: 1vw;
  right: 1vw;
  height: 3.8vw;
  width: 18vw;
}

.tech .bm-burger-bars {
  background: black;
}

.tech .bm-cross {
  background: #bdc3c7;
}

.tech .bm-menu {
  background: #373a47;
  padding: 1.5em 1.5em 0;
  font-size: 1.10em;
  border-left: white solid .5vw;
  height: 100%;
}

.tech .bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: auto;
}

.tech .bm-morph-shape {
  fill: #373a47;
}

.tech .bm-item-list {
  color: white;
}

.tech .bm-overlay {
  background: rgba(0, 0, 0, 0);
}

.ruby {
  height: 7.4vw;
  width: auto;
  border-radius: 50%;
}

.js {
  width: auto;
  height: 7.3vw;
}

.html {
  width: auto;
  height: 8.5vw;
  align-self: center;
  padding-right: 2.5vw;
  top: .7vw;
  position: relative;


}

.css {
  height: 7.3vw;
  width: auto;
  padding-right: 2.5vw;
}

.sql {
  height: 7.3vw;
  width: auto;
  border-radius: 50%;
}

.c {
  top: .2vw;
  height: 7.9vw;
  width: auto;
  position: relative;
  padding-left: 1vw;
}

.cSharp {
  height: 7.4vw;
  width: auto;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.java {
  height: 7.4vw;
  width: auto;
  border-radius: 20%;
}

.php {
  height: 7.4vw;
  width: auto;
  padding-left: 1.5vw;
}

.react {
  height: 7.4vw;
  width: auto;
}

.nodejs {
  height: 7.4vw;
  width: auto;
}

.mongodb {
  height: 7.4vw;
  width: auto;
  padding-right: .5vw;
  padding-left: .5vw;
  border-radius: 50%;
}

.bootstrap {
  height: 7.4vw;
  width: auto;
  padding-right: 1.4vw;
  padding-left: 2.4vw;
}

.rails {
  height: 7.4vw;
  width: auto;
  padding-right: 3vw;
}

.mysql {
  height: 7.4vw;
  width: auto;
  padding-right: 3.5vw;
}

.postgresql {
  height: 7.4vw;
  width: auto;
  padding-right: 2.5vw;
}

.travis {
  height: 7.4vw;
  width: auto;
  border-radius: 50%;
}

.heroku {
  height: 7.4vw;
  width: auto;
  border-radius: 50%;
}

.atom {
  height: 7.4vw;
  width: auto;
  padding-right: 3.7vw;
  padding-left: 3.2vw;
}

.vs {
  height: 7.4vw;
  width: auto;
  border-radius: 50%;
}

.unity {
  height: 7.4vw;
  width: auto;
  padding-right: 1vw;
  padding-left: 2.7vw;
}

.stackMid {
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.stackLow {
  padding-bottom: 2vw;
}
