.IndexTopPanel {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 30%;
  margin-top: 1%;
}

.Header {

}

.RyanClark {
  position: sticky;
  color: white;
  font-style: Garamond, sans-serif;
  outline-width: thick;
  outline-color: black;
  font-size: 13vw;
  outline: black;
  text-shadow: 2px 2px 8px Black;

}

.Profession {
  display: sticky;
  position: fixed;
  color: white;
  font-style: Garamond;
  font-size: 4vw;
  text-shadow: 2px 2px 8px Black;
}
